In [1]:
import os
import pandas as pd

In [2]:
# Set display options
pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)

In [3]:
# List of file names for the CSV files along with their corresponding years
file_info = [
    ("output/2015_data.csv", "2015"),
    ("output/2016_data.csv", "2016"),
    ("output/2017_data.csv", "2017"),
    ("output/2018_data.csv", "2018"),
    ("output/2019_data.csv", "2019"),
    ("output/2020_data.csv", "2020")
]

# Initialize an empty list to store DataFrames
dfs = []

# Loop through the list of file names and read each file into a DataFrame
for file_name, year in file_info:
    df = pd.read_csv(file_name)
    
    # Add a new column for the year
    df["Year"] = year
    
    # Append the DataFrame to the list
    dfs.append(df)

# Concatenate DataFrames vertically
merged_df = pd.concat(dfs, ignore_index=True)

# Set "Year" as the index
merged_df.set_index("Year", inplace=True)

# Save the merged DataFrame to a new CSV file without the index
merged_file = "output/merged_data.csv"
merged_df.to_csv(merged_file)

In [4]:
import pandas as pd

# List of file names for the CSV files along with their corresponding years
file_info = [
    ("output/2015_data.csv", "2015"),
    ("output/2016_data.csv", "2016"),
    ("output/2017_data.csv", "2017"),
    ("output/2018_data.csv", "2018"),
    ("output/2019_data.csv", "2019"),
    ("output/2020_data.csv", "2020")
]

# Initialize an empty list to store DataFrames
dfs = []

# Loop through the list of file names and read each file into a DataFrame
for file_name, year in file_info:
    df = pd.read_csv(file_name)
    
    # Add a new column for the year
    df["Year"] = year
    
    # Append the DataFrame to the list
    dfs.append(df)

# Concatenate DataFrames vertically
merged_df = pd.concat(dfs, ignore_index=True)

# Set "Year" as the index
merged_df.set_index("Year", inplace=True)

# Save the merged DataFrame to a new CSV file without the index
merged_file = "output/merged_data.csv"
merged_df.to_csv(merged_file)

In [7]:
# Checking the formatting of the Dataframe
merged_df.head()

,Country,Happiness Score,GDP per Capita,Social Support,Life Expectancy/Health,Freedom,Trust (government corruption),Generosity
Year,,,,,,,,
2015,Switzerland,7.587,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678
2015,Iceland,7.561,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630
2015,Denmark,7.527,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139
2015,Norway,7.522,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699
2015,Canada,7.427,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811

In [8]:
# Checking the formatting of the Dataframe
merged_df.tail()

,Country,Happiness Score,GDP per Capita,Social Support,Life Expectancy/Health,Freedom,Trust (government corruption),Generosity
Year,,,,,,,,
2020,Central African Republic,3.4759,0.041072,0.000000,0.000000,0.292814,0.028265,0.253513
2020,Rwanda,3.3123,0.343243,0.522876,0.572383,0.604088,0.485542,0.235705
2020,Zimbabwe,3.2992,0.425564,1.047835,0.375038,0.377405,0.080929,0.151349
2020,South Sudan,2.8166,0.289083,0.553279,0.208809,0.065609,0.111157,0.209935
2020,Afghanistan,2.5669,0.300706,0.356434,0.266052,0.000000,0.001226,0.135235

In [5]:
# Check the number of unique countries
merged_df['Country'].nunique()

172

In [6]:
# Check the number of entries from each country
merged_df['Country'].value_counts()

Switzerland                  6
India                        6
Mongolia                     6
Greece                       6
Lebanon                      6
Hungary                      6
Honduras                     6
Tajikistan                   6
Tunisia                      6
Palestinian Territories      6
Bangladesh                   6
Iran                         6
Ukraine                      6
Iraq                         6
South Africa                 6
Ghana                        6
Zimbabwe                     6
Dominican Republic           6
Bosnia and Herzegovina       6
Albania                      6
Montenegro                   6
Turkey                       6
Kyrgyzstan                   6
Nigeria                      6
Azerbaijan                   6
Pakistan                     6
Jordan                       6
China                        6
Morocco                      6
Zambia                       6
Romania                      6
Iceland                      6
Portugal                     6
Latvia                       6
Philippines                  6
Liberia                      6
Haiti                        6
Indonesia                    6
Congo (Kinshasa)             6
Senegal                      6
Gabon                        6
Niger                        6
Cambodia                     6
Tanzania                     6
Madagascar                   6
Chad                         6
Guinea                       6
Ivory Coast                  6
Burkina Faso                 6
Afghanistan                  6
Rwanda                       6
Benin                        6
Burundi                      6
Togo                         6
Uganda                       6
Congo (Brazzaville)          6
Mali                         6
Botswana                     6
Nepal                        6
Ethiopia                     6
Sierra Leone                 6
Mauritania                   6
Kenya                        6
Armenia                      6
Myanmar                      6
Yemen                        6
Georgia                      6
Malawi                       6
Sri Lanka                    6
Cameroon                     6
Bulgaria                     6
Egypt                        6
Vietnam                      6
Serbia                       6
Estonia                      6
Guatemala                    6
United Kingdom               6
Venezuela                    6
Singapore                    6
Panama                       6
Germany                      6
Chile                        6
France                       6
Argentina                    6
Czech Republic               6
Colombia                     6
Thailand                     6
Saudi Arabia                 6
Spain                        6
Malta                        6
Kuwait                       6
United Arab Emirates         6
Belgium                      6
Ireland                      6
New Zealand                  6
Denmark                      6
Norway                       6
Canada                       6
Finland                      6
Netherlands                  6
Sweden                       6
Australia                    6
Luxembourg                   6
Israel                       6
Costa Rica                   6
Austria                      6
Mexico                       6
United States                6
Brazil                       6
El Salvador                  6
Uruguay                      6
Uzbekistan                   6
Poland                       6
Slovakia                     6
Peru                         6
Malaysia                     6
Croatia                      6
Libya                        6
Nicaragua                    6
Russia                       6
Lithuania                    6
Jamaica                      6
Slovenia                     6
Cyprus                       6
Kazakhstan                   6
Algeria                      6
Kosovo                       6
Paraguay                     6
Moldova                      6
Bolivia                      6
Italy                        6
Bahrain                      6
Ecuador                      6
South Korea                  6
Turkmenistan                 6
Mauritius                    6
Japan                        6
Belarus                      6
Bhutan                       5
Syria                        5
Central African Republic     5
Namibia                      5
South Sudan                  5
Macedonia                    5
Mozambique                   5
Lesotho                      5
Laos                         5
Qatar                        5
Comoros                      4
Somalia                      4
Angola                       4
Trinidad and Tobago          4
North Cyprus                 4
Hong Kong                    4
Sudan                        4
Taiwan                       4
Swaziland                    3
Belize                       3
Suriname                     2
Northern Cyprus              2
Taiwan Province of China     2
Trinidad & Tobago            2
Gambia                       2
North Macedonia              1
Hong Kong S.A.R. of China    1
Somaliland region            1
Hong Kong S.A.R., China      1
Somaliland Region            1
Puerto Rico                  1
Oman                         1
Djibouti                     1
Maldives                     1
Name: Country, dtype: int64

In [9]:
# Summary statistics of entire data range from 2015-2020 
merged_df.describe()

,Happiness Score,GDP per Capita,Social Support,Life Expectancy/Health,Freedom,Trust (government corruption),Generosity
count,935.000000,935.000000,935.000000,935.000000,935.000000,934.000000,935.000000
mean,5.394436,0.908311,1.091028,0.625581,0.419680,0.126301,0.213797
std,1.124935,0.402023,0.324069,0.250900,0.152199,0.106998,0.119452
min,2.566900,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,4.540000,0.600264,0.879945,0.449596,0.317835,0.054545,0.127030
50%,5.353500,0.974380,1.143945,0.667465,0.436000,0.092655,0.199358
75%,6.198500,1.228785,1.347408,0.814710,0.539885,0.157865,0.271398
max,7.808700,2.096000,1.644000,1.141000,0.724000,0.551910,0.838075